.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 30vh;
  margin-top: 15vh;
}

.btn-row{
  align-self: center;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.medium-txt{
  font-size: 24px;
  margin: 0 auto;
  padding-top: 5vh;
  text-align: center;
}

@media (max-width: 599px) and (min-width: 0px) {
  .btn-row{
    width: 80%;
  }
  .medium-txt{
    font-size: 22px;
    width: 80%;
  }
}